{% extends 'base.html.twig' %}

{% block title %}
    MyWebSiteDown : Check your website status Offline or Online
{% endblock %}

{% block header %}

    <header class="mb-auto pt-2 pt-md-0">
        <div>
            <a href="{{ path('index') }}"><img class="float-md-start mb-0" width="280px" style="border-radius: 5px" alt="MyWebSiteDown.com Logo" src="{{ asset('img/mywebsitedown-logo.png') }}" /></a>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="{{ path('index') }}">Home</a>
                {% if app.user %}
                    <a class="nav-link fw-bold py-1 px-0" href="{{ path('app_dashboard_dashboard') }}">Dashboard</a>
                {% else %}
                    <a class="nav-link fw-bold py-1 px-0" href="{{ path('app_login') }}">Login</a>
                    <a class="nav-link fw-bold py-1 px-0" href="{{ path('app_register') }}">Register</a>
                {% endif %}
                <a class="nav-link fw-bold py-1 px-0 active" href="{{ path('contact') }}">Contact</a>
            </nav>
        </div>
    </header>

{% endblock %}

{% block body %}

    <main class="mt-5 px-3">
        <h1 class="text-break">Contact us</h1>
        <p>Do you have any questions, requests or anything else to say? Simply complete this form!</p>


        <div class="container px-4 pb-5 col-12 col-md-6">

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {{ form(form) }}

        </div>
    </main>



{% endblock %}