{% extends 'base.html.twig' %}

{% block title %}
    MyWebSiteDown : Check your website status Offline or Online
{% endblock %}

{% block styles %}
    <style>
        body, html{
            height: 100%;

        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
        }

        .form-signin .form-floating:focus-within {
            z-index: 2;
        }

        .form-signin input[type="text"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

    </style>
{% endblock %}

{% block header %}

    <header class="mb-auto pt-2 pt-md-0">
        <div>
            <a href="{{ path('index') }}"><img class="float-md-start mb-0" width="280px" style="border-radius: 5px" alt="MyWebSiteDown.com Logo" src="{{ asset('img/mywebsitedown-logo.png') }}" /></a>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="{{ path('index') }}">Home</a>
                {% if app.user %}
                    <a class="nav-link fw-bold py-1 px-0" href="{{ path('app_dashboard_dashboard') }}">Dashboard</a>
                {% else %}
                    <a class="nav-link fw-bold py-1 px-0" href="{{ path('app_login') }}">Login</a>
                    <a class="nav-link fw-bold py-1 px-0" href="{{ path('app_register') }}">Register</a>
                {% endif %}
                <a class="nav-link fw-bold py-1 px-0" href="{{ path('contact') }}">Contact</a>
            </nav>
        </div>
    </header>

{% endblock %}

{% block body %}

    <main class="mt-5 px-3 align-content-center" style="height: 100%">
        <h1 class="text-break">Forgot Password</h1>

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form, {'method': 'POST', 'attr' : { 'class': 'form-signin w-100 m-auto'}}) }}

        <div class="form-floating">
            {{ form_widget(form.email) }}
            {{ form_label(form.email) }}
        </div>
        <div class="invalid-feedback d-block">
            {{ form_errors(form) }}
        </div>

        <input type="hidden" name="csrf_token" value="{{ csrf_token('email') }}">

        {{ form_widget(form.save, {'attr' : { 'class' : 'w-100 btn btn-lg btn-info btn-submit' }}) }}
        <a class="link-bottom-submit" href="{{ path('app_login') }}">Sign in</a>

        {{ form_end(form) }}

    </main>

{% endblock %}