{% extends 'base.html.twig' %}

{% block title %}
    MyWebSiteDown : Check your website status Offline or Online
{% endblock %}

{% block styles %}
    <style>
        body, html{
            height: 100%;

        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
        }

    </style>
{% endblock %}

{% block body %}

    <main class="mt-5 px-3 align-content-center" style="height: 100%">
        <h1 class="text-break">Reset Password</h1>

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <div class="mt-5 col-12 col-md-6 mx-auto">
            {{ form_start(form, {'method': 'POST', 'attr' : { 'class': 'form-signin w-100 m-auto'}}) }}

            {{ form_label(form.password) }}
            {{ form_widget(form.password) }}

            <div class="invalid-feedback d-block">
                {{ form_errors(form) }}
            </div>

            <input type="hidden" name="csrf_token" value="{{ csrf_token('password') }}">

            {{ form_widget(form.save, {'attr' : { 'class' : 'w-100 btn btn-lg btn-info btn-submit' }}) }}
            <a class="link-bottom-submit" href="{{ path('app_login') }}">Sign in</a>
            {{ form_end(form) }}
        </div>

    </main>

{% endblock %}